@{
    ViewData["Title"] = "Home Page";
}
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">Розкажіть свою історію через<br><span>наші</span> події</h1>

        </div>
    </section>

    <main id="main">
        <section id="formats" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>
                        Еволюція формату подій
                    </h2>
                    <p>Досліджуйте інноваційні формати заходів, які переосмислюють взаємодію, встановлюючи нові стандарти для незабутніх вражень.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="formatType">
                            <img src="img/formats/1.jpg" alt="formatType 1" class="img-fluid">
                            <div class="details">
                                <h3><a href="formatType-details.html">Онлайн</a></h3>
                                <div class="social">
                                    <p>Відкрийте інтерактивні онлайн заходи, які можна відвідати з будь-якої точки світу</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="formatType">
                            <img src="img/formats/2.jpg" alt="formatType 2" class="img-fluid">
                            <div class="details">
                                <h3><a href="formatType-details.html">Офлайн</a></h3>
                                <div class="social">
                                    <p>Досвідчуйте незабутні зустрічі лицем до лиця в вашому регіоні або по всьому світу</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="formatType">
                            <img src="img/formats/3.jpg" alt="formatType 3" class="img-fluid">
                            <div class="details">
                                <h3><a href="formatType-details.html">Гібридні</a></h3>
                                <div class="social">
                                    <p>Поєднання онлайн-інтерактивності з можливістю особистої зустрічі</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <section id="categories" class="section-with-bg wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>Категорії</h2>
                </div>

                <div class="row no-gutters categories-wrap clearfix">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="category-logo">
                            <img src="img/categories/8.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="category-logo">
                            <img src="img/categories/7.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="category-logo">
                            <img src="img/categories/6.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="category-logo">
                            <img src="img/categories/5.png" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <section id="faq" class="wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>ЧАСТІ ЗАПИТАННЯ </h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <ul id="faq-list">

                            <li>
                                <a data-toggle="collapse" class="collapsed" href="#faq1">Як можна зареєструватися на подію ? <i class="fa fa-minus-circle"></i></a>
                                <div id="faq1" class="collapse" data-parent="#faq-list">
                                    <p>
                                        Потрібно здійснити вхід або реєстрацію та вказати свої дані.Перейти на сторінку події та натиснути кнопку для реєстрації.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-toggle="collapse" href="#faq2" class="collapsed">Як переглянути список усіх доступних подій?? <i class="fa fa-minus-circle"></i></a>
                                <div id="faq2" class="collapse" data-parent="#faq-list">
                                    <p>
                                        У своєму обліковому записі клієнта є вкладка з усіма доступними подіями. Там ви можете переглянути список усіх подій і вибрати ту, на яку хочете зареєструватися.

                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-toggle="collapse" href="#faq3" class="collapsed">Як відмінити свою реєстрацію на подію? <i class="fa fa-minus-circle"></i></a>
                                <div id="faq3" class="collapse" data-parent="#faq-list">
                                    <p>
                                        У вкладці або сторінці події є кнопка для скасування реєстрації. Клацніть на неї і підтвердіть свої наміри.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-toggle="collapse" href="#faq4" class="collapsed">Як можу отримати підтримку щодо проблеми з реєстрацією або іншим питанням? <i class="fa fa-minus-circle"></i></a>
                                <div id="faq4" class="collapse" data-parent="#faq-list">
                                    <p>
                                        Для отримання підтримки відвідайте наш розділ підтримки або зверніться до нашої служби підтримки за допомогою контактної форми на сайті. Ви також можете знайти контактні дані нашої команди для швидкого вирішення проблем.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </section>



    </main>

  

  

