@model EventManagementSystem.Models.ApplicationUser

@{
    ViewData["Title"] = "Редагувати профіль";
    Layout = "_Layout";
}

<main class="container mt-5">
    <h2 class="mb-4">Edit Profile</h2>
    <div class="card">
        <div class="card-body">
            <form asp-action="EditProfile">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Middlename" class="control-label"></label>
                    <input asp-for="Middlename" class="form-control" />
                    <span asp-validation-for="Middlename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</main>